@import url("general.css");

/* --- HEADER --- */

.header {
  height: 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  background-color: var(--main-tint-color);
}

.logo {
  height: 2.2rem;
}

/* --- NAVIGATION --- */

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  list-style-type: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: var(--grey-darker-color);
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--main-shade-color);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: var(--main-color);
  color: #fff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--main-shade-color);
}

/* --- HERO SECTION --- */

.section-hero {
  padding: 4.8rem 0 9.6rem 0;
  background-color: var(--main-tint-color);
}

.hero {
  max-width: 130rem;
  column-gap: 9.6rem;
}

.hero-description {
  margin-bottom: 4.8rem;
  font-size: 2rem;
  line-height: 1.6;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  margin-right: -1.6rem;
  border: 3px solid var(--main-tint-color);
  border-radius: 50%;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: var(--main-shade-color);
  font-weight: 700;
}

/* --- HOW IT WORKS SECTION --- */

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  margin-bottom: 1.2rem;
  color: var(--white-darker-color);
  font-size: 8.6rem;
  font-weight: 600;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;
  display: grid;
  place-items: center;
}

.step-img-box:before,
.step-img-box:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border-radius: 50%;
}

.step-img-box:before {
  width: 60%;
  padding-bottom: 60%;
  background-color: var(--main-tint-color);
  z-index: -2;
}

.step-img-box:after {
  width: 45%;
  padding-bottom: 45%;
  background-color: var(--main-tint-darker-color);
  z-index: -1;
}

.step-img {
  width: 35%;
}
